.back-back {
    background-color: #9e9e9e!important;
    opacity: 0.8!important;
    color: white;
}

.button-s {
    text-decoration: none!important;
    background-color: #727070!important;
}

.text-first {
    color: white!important;
    font-style: bold!important;
}
.text-color {
    color: white;
}