.back-bar {
    background-image: url(../../../assets/img/sergiolarrain.jpg);

    min-height: 380px;
    height: 10vw;
    width: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;
}

.container {
    margin: 20px;
    width: auto;
}

.cursor {
    cursor: pointer;
    padding: 7px;
}

.nav-route {
    text-decoration: none!important;
    color: white!important;
}