.back-bar {
    background: linear-gradient(22deg, #727070 20%, #9e9e9e 54%)!important;
}

.cursor {
    cursor: pointer;
    color: white;
    padding: 7px;
}
.text-decorator-none {
    text-decoration: none;
}