.back-login {
    background-image: url(../../assets/img/billlee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100vh;
    min-height: 100vh;
}

.text-register {
    font-weight: bold!important;
    color: #727070!important;
    text-decoration: none!important;
}

.texts2 {
    color: #9e9e9e!important; 
    text-decoration: none!important;
}

.button-style {
    border-color: white!important;
    background-color: #727070!important;
    color: white!important;
    text-decoration: none!important;
}