.box1 {
    background-image: url(../../../assets/img/sergiolarrain.jpg);

    min-height: 121px;
    height: 2vw;
    width: 98.9vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    position:absolute;

}

.text {
    color: white;
    height: 2px!important;
}

.footer-social {
    font-size: 55px;
    color: white!important;
}

.footer-copy {
    margin-top:-8px!important;
    color: white;

}