.box1 {
    background-color: #727070; 
    height: 120px;
}

.box2 {
    background-color: #9e9e9e;
}

.text {
    color: white;
    height: 2px!important;
}

.footer-social {
    font-size: 55px;
    color: white!important;
}

.footer-copy {
    margin-top:-8px!important;
    color: white;
    background: linear-gradient(8deg, #727070 2%, #9e9e9e 99%)!important;
}